.wrapper {
    margin: 0!important;
    max-width: 100vw!important;
    max-height: 100vh!important;
    padding: 0!important;
}

.navbar-size {
    height: 90px;
}

.navbar-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat-wrapper {
    margin: 0!important;
    padding: 0!important;
    height: calc(100vh - 200px);
    width: 100vw;
    display: flex;
}

.dialogs-wrapper {
    margin: 0!important;
    position: relative;
    height: 100%;
    padding: 10px;
    justify-content: start;
    flex: 4;
}

.dialog-list {
    height: 109%;
    overflow-y: scroll;
}

.add-dialog {
    position: absolute;
    width: 70px;
    height: 70px;
    right: 35px;
    bottom: -95px;
    border-radius: 50%;
}

.messages-wrapper {
    height: 100%;
    margin: 0!important;
    padding: 0!important;
    flex: 8;
}

.dialog-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid gray;
}

.chat-message-form {
    display: flex;
    flex-direction: row;
}

.message-input {
    width: 85%!important;
    height: 60px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 0;
}

.send-message-button {
    width: 15%!important;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 0;
}

.message-list {
    height: 100%;
    overflow-y: scroll;
}

.modal-footer {
    justify-content: center;
}

.users {
    overflow-y: scroll;
}

.noDialog {

}

.buttons {
    max-width: 340px;
    margin: 0;
}

.admin-button {
    margin-left: 15px;
}

.exit-button {
    margin-left: 10px;
}

.admin-link {
    color: white;
    text-decoration: none;
}

.admin-link:hover {
    color: white;
}