.registrationContainer {
    width: 100vw!important;
    height: 100vh!important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.api-error {
    color: red;
    margin-top: 5px;
    margin-left: 5px;
}